<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/common.html::head"></head>


<body>
<div class="background" style="background-color:darkgray; height: 100%">
    <div class="container-fluid" style="background-color:lightgrey; width: 88%; min-height: 100%">
        <th:block th:include="fragments/navbar"></th:block>
        <nav aria-label="breadcrumb" style="margin-top: 15px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a th:href="@{/}">Categories</a></li>
                <li class="breadcrumb-item "><a th:href="@{/topics/}+${categoryId}">Topics</a></li>
                <li class="breadcrumb-item active" aria-current="page">Topic editor</a></li>
            </ol>
        </nav>

        <div class="form-group shadow-textarea" style="margin-bottom: 25%">
            <form action="#" th:action="@{/topics/editTopic/}+${categoryId}+'/' + ${topicId}"
                  th:object="${topic}" method="POST">
                <label for="formControlTextarea" style="padding: 25px"><h2
                        th:text="${categoryEntity.getTitleCategory()}"></h2></label>
                <textarea class="form-control z-depth-1" id="formControlTextarea" rows="3"
                          th:field="*{titleTopic}" placeholder="Write title for new topic..."></textarea>
                <p style="color: red" th:if="${#fields.hasErrors('titleTopic')}" th:errors="*{titleTopic}">title
                    error</p>
                <button type="submit" class="btn btn-info btn">Save edited topic</button>
            </form>
        </div>
        <div style="..." th:replace="fragments/footer.html :: footer"></div>
    </div>
</div>
</body>
</html>